{%  extends 'base.html' %}
<div class="container">
{% block head %}

{% endblock %}
</div>

{% block body %}
<br>
<br>
<div class="container"> 
	<table>
		<th>List of Books sem wise</th>
		<tr><td><a href="/booksmain/sem-1">sem 1</a></td></tr>
		<tr><td><a href="#">sem 2</a></td></tr>
		<tr><td><a href="#">sem 3</a></td></tr>
		<tr><td><a href="#">sem 4</a></td></tr>
		<tr><td><a href="#">sem 5</a></td></tr>
		<tr><td><a href="#">sem 6</a></td></tr>
		<tr><td><a href="#">sem 7</a></td></tr>
		<tr><td><a href="#">sem 8</a></td></tr>	
	</table>

</div>


{% endblock %}