{% extends 'base.html' %}

{% block body %}
<div class="container">

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true"></span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}

        {% endif %}
        <h1 align="center">Available Books</h1><br>
        <div style="overflow-x:auto">
                <table class="table table-bordered">
                {% if not book_list %}
                     <h4 align="center">Nothing to show</h4>

                {% else %}
                    <tr><th>Posted by</th><th>Book Name</th><th>Prize</th><th>Description</th><th>Negotiable</th><th>Date Posted</th><th>Date Updated</th></tr>
                    {% for book in book_list %}
                        <tr>
                            <td>{{ book.user }}</td>
                            <td>{{ book.book_name }}</td>
                            <td>Rs - {{ book.price }}</td>
                            <td>{{ book.description }}</td>
                            <td>{{ book.negotiable }}</td>
                            <td>{{ book.date_posted }}</td>
                            <td>{{ book.date_updated }}</td>
                        </tr>
                    {% endfor %}

                 {% endif %}
                </table>
        </div>

</div>
{% endblock %}